@charset "UTF-8";
/*sass static/scss/main.scss static/css/styles.css --watch */
:root {
  --bg: #111;
  --panel: #1b1b1b;
  --text: #eee;
  --accent: #4da3ff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

button {
  border-radius: 10px;
  transition: 0.2s ease;
}
button.active {
  background: var(--accent);
}
button.fav-btn {
  border: none;
  background: none;
  color: #aaa;
  text-shadow: 1px 0 1px black;
  font-size: 32px;
  margin-top: -10px;
}
button.fav-btn:hover {
  color: orange;
  cursor: pointer;
}

/* Change the marker when the details element is open */
details[open] > summary::marker {
  content: "👇 ";
}

summary::marker {
  content: "👉 "; /* Replaces the default marker with an emoji */
  color: blue; /* Changes the marker color */
  font-size: 2em; /* Adjusts the marker size */
}

#bottom_linkz {
  text-align: center;
}
#bottom_linkz a {
  text-decoration: none;
  background: #eee;
  border: 1px solid #111;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 7px;
  color: #111;
  font-size: 15px;
}
#bottom_linkz a:hover {
  background: lightgreen;
  color: #111;
}
#bottom_linkz .pc {
  margin-bottom: 20px;
}

.rating { 
  border:1px solid blue;
}

.star {
    cursor: pointer;
    font-size: 18px;
    color: gold;
}
.star:hover {
    transform: scale(1.2);
}

details summary {
  background: rgb(209, 180, 255);
  padding: 12px 24px;
  border-radius: 5px;
  margin-top: 10px;
}
details summary:hover {
  cursor: zoom-in;
  background: rgb(128, 100, 255);
  color: yellow;
}
details summary:hover .folder_size {
  color: orange;
}
details summary:hover .count {
  color: #ff97d4;
  text-shadow: 1px 0 10px #111;
}
details summary .count {
  color: #b4002d;
}
details summary .folder_size {
  color: darkblue;
}

ul.tree {
  list-style-type: none;
}
ul.tree li.folder {
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 20px;
}
ul.tree li.folder a {
  text-decoration: none;
  background: #111;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 7px;
  color: lightgreen;
  text-shadow: 1px 0 10px yellow;
}
ul.tree li.folder a:hover {
  background: lightgreen;
  color: #111;
}
ul.tree li.folder a:hover .count {
  color: darkblue;
}
ul.tree li.folder a:hover .folder_size {
  color: rgb(75, 52, 11);
}
ul.tree li.folder a .count {
  font-style: italic;
  color: lightblue;
}
ul.tree li.folder a .folder_size {
  color: rgb(223, 176, 90);
}

main#index {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-top: 100px;
  max-width: 1000px;
}
main#index .card_wrapper {
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main#index .card_wrapper .card {
  width: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
main#index .card_wrapper .card a {
  text-decoration: none;
  font-size: 28px;
}
main#index .card_wrapper .card a:hover {
  text-decoration: underline;
}

#index_container {
  justify-content: center;
}

aside#sidebar {
  flex-shrink: 0;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid lightcoral;
  border-radius: 5px;
}
aside#sidebar #toggle-aside {
  width: 100%;
  border: none;
  background: lightcoral;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}
aside#sidebar.collapsed {
  width: 48px;
}
aside#sidebar.collapsed ul, aside#sidebar.collapsed .card_wrapper {
  display: none;
  width: 0;
}
aside#sidebar a {
  text-decoration: none;
}
aside#sidebar ul.tree {
  font-size: 15px;
  list-style-type: none;
  padding-left: 12px;
}
aside#sidebar .card_wrapper {
  font-size: 16px;
  text-align: center;
}
aside#sidebar .card_wrapper .card {
  margin: 10px 0;
}

.container {
  display: flex;
  min-height: 80vh;
}
.container main {
  width: 100%;
}
.container main nav#content_bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.container main nav#content_bar .favorites_wrapper {
  margin-right: 100px;
  display: flex;
  align-items: center;
}
.container main nav#content_bar .favorites_wrapper div {
  margin-right: 20px;
  display: inline-block;
}
.container main .image_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container main .media-item video {
  width: 600px;
  margin: 10px;
}
.container main .media-item a img {
  width: 300px;
  margin-right: 10px;
  display: block;
}
.container main .media-item .caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

@media only screen and (max-width: 480px) {
  .container main .image_container {
    justify-content: center;
  }
  .container main .media-item a img {
    width: 410px;
  }
}
@media only screen and (max-width: 1024px) {
  .container main .image_container {
    justify-content: center;
  }
  .container main .media-item a img {
    width: 100%;
    max-width: 800px;
  }
}

/*# sourceMappingURL=styles.css.map */
