@charset "UTF-8";
/*sass static/scss/main.scss static/css/styles.css --watch */
@font-face {
  font-family: "fontello";
  src: url("./fontface/fontello.eot?16074009");
  src: url("./fontface/fontello.eot?16074009#iefix") format("embedded-opentype"), url("./fontface/fontello.woff?16074009") format("woff"), url("./fontface/fontello.ttf?16074009") format("truetype"), url("./fontface/fontello.svg?16074009#play") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fontello {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fontello::before {
  display: inline-block;
}

.icon-heart::before {
  content: "\e80a";
}

.icon-heart {
  color: lightcoral;
}

.icon-empty-heart::before {
  content: "\e809";
}

.icon-trashcan::before {
  content: "\e801";
}

.icon-empty-star::before {
  content: "\e800";
}

.icon-empty-star {
  color: #eee;
}
.icon-empty-star:hover {
  color: lightblue;
  cursor: pointer;
}

.icon-star::before {
  content: "\e802";
}

.icon-star {
  color: lightblue;
}
.icon-star:hover {
  cursor: pointer;
}

.icon-pencil::before {
  content: "\e836";
}

.icon-cancel::before {
  content: "\e804";
}

:root {
  --bg: #111;
  --panel: #1b1b1b;
  --text: #eee;
  --accent: #4da3ff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

button {
  border-radius: 10px;
}
button.active {
  background: var(--accent);
}

/* Change the marker when the details element is open */
details[open] > summary::marker {
  content: "👇 ";
}

summary::marker {
  content: "👉 "; /* Replaces the default marker with an emoji */
  color: blue; /* Changes the marker color */
  font-size: 2em; /* Adjusts the marker size */
}

#bottom_linkz {
  text-align: center;
}
#bottom_linkz a {
  text-decoration: none;
  background: #eee;
  border: 1px solid #111;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 7px;
  color: #111;
  font-size: 15px;
}
#bottom_linkz a:hover {
  background: lightgreen;
  color: #111;
}
#bottom_linkz .pc {
  margin-bottom: 20px;
}

details summary {
  background: rgb(209, 180, 255);
  padding: 12px 24px;
  border-radius: 5px;
  margin-top: 10px;
}
details summary:hover {
  cursor: zoom-in;
  background: rgb(128, 100, 255);
  color: yellow;
}
details summary:hover .folder_size {
  color: orange;
}
details summary:hover .count {
  color: #ff97d4;
  text-shadow: 1px 0 10px #111;
}
details summary .count {
  color: #b4002d;
}
details summary .folder_size {
  color: darkblue;
}

ul.tree {
  list-style-type: none;
}
ul.tree li.folder {
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 20px;
}
ul.tree li.folder a {
  text-decoration: none;
  background: #111;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 7px;
  color: lightgreen;
  text-shadow: 1px 0 10px yellow;
}
ul.tree li.folder a:hover {
  background: lightgreen;
  color: #111;
}
ul.tree li.folder a:hover .count {
  color: darkblue;
}
ul.tree li.folder a:hover .folder_size {
  color: rgb(75, 52, 11);
}
ul.tree li.folder a .count {
  font-style: italic;
  color: lightblue;
}
ul.tree li.folder a .folder_size {
  color: rgb(223, 176, 90);
}

main#index {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-top: 100px;
  max-width: 1000px;
}
main#index .card_wrapper {
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main#index .card_wrapper .card {
  width: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
main#index .card_wrapper .card a {
  text-decoration: none;
  font-size: 28px;
}
main#index .card_wrapper .card a:hover {
  text-decoration: underline;
}

#index_container {
  justify-content: center;
}

aside#sidebar {
  flex-shrink: 0;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid lightcoral;
  border-radius: 5px;
}
aside#sidebar #toggle-aside {
  width: 100%;
  border: none;
  background: lightcoral;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}
aside#sidebar.collapsed {
  width: 48px;
}
aside#sidebar.collapsed ul, aside#sidebar.collapsed .card_wrapper {
  display: none;
  width: 0;
}
aside#sidebar a {
  text-decoration: none;
}
aside#sidebar ul.tree {
  font-size: 15px;
  list-style-type: none;
  padding-left: 12px;
}
aside#sidebar .card_wrapper {
  font-size: 16px;
  text-align: center;
}
aside#sidebar .card_wrapper .card {
  margin: 10px 0;
}

.media-item.video .caption {
  width: 600px;
}

.media-item.image .caption {
  width: 300px;
}

.media-item video {
  width: 600px;
  margin: 10px;
}
.media-item a img {
  width: 300px;
  margin-right: 10px;
  display: block;
}
.media-item .caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.media-item .caption .size {
  margin-left: 5px;
  color: #aaa;
}
.media-item .caption .file_name {
  width: 60%;
}
.media-item .caption .actions button {
  border: none;
  background: none;
  padding: 0;
  font-size: 16px;
}
.media-item .caption .actions button:hover {
  color: lightcoral;
  cursor: pointer;
}
.media-item .rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
.media-item .rating .star {
  font-size: 18px;
}
.media-item .rating .star:hover {
  color: #111;
}

.container {
  display: flex;
  min-height: 80vh;
}
.container main {
  width: 100%;
}
.container main nav#content_bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.container main nav#content_bar .favorites_wrapper {
  margin-right: 100px;
  display: flex;
  align-items: center;
}
.container main nav#content_bar .favorites_wrapper div {
  margin-right: 20px;
  display: inline-block;
}
.container main .image_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .container main .image_container {
    justify-content: center;
  }
  .media-item.video .caption {
    width: 100%;
    max-width: 920px;
  }
  .media-item.video .caption .actions button {
    font-size: 24px;
  }
  .media-item.image {
    margin-bottom: 40px;
  }
  .media-item.image .caption {
    max-width: 920px;
    width: 100%;
  }
  .media-item.image .caption .actions button {
    font-size: 24px;
  }
  .container main .media-item a img {
    width: 100%;
    max-width: 920px;
  }
}
@media screen and (max-width: 480px) {
  .container main .image_container {
    justify-content: center;
  }
  .container main .media-item a img {
    width: 410px;
  }
  .media-item.image .caption {
    max-width: 420px;
    width: 100%;
  }
  .media-item.image .caption .actions button {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
