@charset "UTF-8";
/*sass static/scss/main.scss static/css/styles.css --watch */
@font-face {
  font-family: "fontello";
  src: url("./fontface/800.eot?16074009");
  src: url("./fontface/800.eot?16074009#iefix") format("embedded-opentype"), url("./fontface/800.woff?16074009") format("woff"), url("./fontface/800.ttf?16074009") format("truetype"), url("./fontface/800.svg?16074009#play") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fontello {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-empty-star:before {
  content: "\e800";
} /* '' */
.icon-trashcan:before {
  content: "\e801";
} /* '' */
.icon-star:before {
  content: "\e802";
} /* '' */
.icon-headphones:before {
  content: "\e803";
} /* '' */
.icon-floppy:before {
  content: "\e804";
} /* '' */
.icon-retweet:before {
  content: "\e805";
} /* '' */
.icon-trash-2:before {
  content: "\e806";
} /* '' */
.icon-home-1:before {
  content: "\e807";
} /* '' */
.icon-picture:before {
  content: "\e808";
} /* '' */
.icon-camera:before {
  content: "\e809";
} /* '' */
.icon-headphones-1:before {
  content: "\e80a";
} /* '' */
.icon-attach:before {
  content: "\e80b";
} /* '' */
.icon-keyboard:before {
  content: "\e80c";
} /* '' */
.icon-brush:before {
  content: "\e80d";
} /* '' */
.icon-ok:before {
  content: "\e80e";
} /* '' */
.icon-up-hand:before {
  content: "\e80f";
} /* '' */
.icon-left-hand:before {
  content: "\e810";
} /* '' */
.icon-forward:before {
  content: "\e811";
} /* '' */
.icon-tools:before {
  content: "\e812";
} /* '' */
.icon-right-hand:before {
  content: "\e813";
} /* '' */
.icon-down-hand:before {
  content: "\e814";
} /* '' */
.icon-arrows-cw:before {
  content: "\e815";
} /* '' */
.icon-cancel-1:before {
  content: "\e816";
} /* '' */
.icon-th-list:before {
  content: "\e817";
} /* '' */
.icon-th-large:before {
  content: "\e818";
} /* '' */
.icon-star-1:before {
  content: "\e819";
} /* '' */
.icon-buffer:before {
  content: "\e81a";
} /* '' */
.icon-pinboard:before {
  content: "\e81b";
} /* '' */
.icon-download:before {
  content: "\e81c";
} /* '' */
.icon-upload:before {
  content: "\e81d";
} /* '' */
.icon-cancel:before {
  content: "\e822";
} /* '' */
.icon-down-open:before {
  content: "\e825";
} /* '' */
.icon-right-open:before {
  content: "\e826";
} /* '' */
.icon-left-open:before {
  content: "\e827";
} /* '' */
.icon-up-open:before {
  content: "\e82a";
} /* '' */
.icon-tag:before {
  content: "\e82d";
} /* '' */
.icon-tags:before {
  content: "\e82e";
} /* '' */
.icon-tag-1:before {
  content: "\e82f";
} /* '' */
.icon-tags-1:before {
  content: "\e830";
} /* '' */
.icon-bookmark:before {
  content: "\e834";
} /* '' */
.icon-feather:before {
  content: "\e835";
} /* '' */
.icon-pencil:before {
  content: "\e836";
} /* '' */
.icon-bookmarks:before {
  content: "\e837";
} /* '' */
.icon-book-1:before {
  content: "\e838";
} /* '' */
.icon-video:before {
  content: "\e839";
} /* '' */
.icon-video-2:before {
  content: "\e83b";
} /* '' */
.icon-pin-1:before {
  content: "\e83d";
} /* '' */
.icon-brush-1:before {
  content: "\e841";
} /* '' */
.icon-layers:before {
  content: "\e842";
} /* '' */
.icon-layers-alt:before {
  content: "\e843";
} /* '' */
.icon-heart-filled:before {
  content: "\e852";
} /* '' */
.icon-heart-1:before {
  content: "\e853";
} /* '' */
.icon-magnet:before {
  content: "\e856";
} /* '' */
.icon-chart:before {
  content: "\e858";
} /* '' */
.icon-pitch:before {
  content: "\e859";
} /* '' */
.icon-infinity:before {
  content: "\e85a";
} /* '' */
.icon-pi:before {
  content: "\e85c";
} /* '' */
.icon-glass:before {
  content: "\e864";
} /* '' */
.icon-music:before {
  content: "\e865";
} /* '' */
.icon-waves:before {
  content: "\e86d";
} /* '' */
.icon-link-1:before {
  content: "\f07b";
} /* '' */
.icon-angle-double-left:before {
  content: "\f100";
} /* '' */
.icon-angle-double-right:before {
  content: "\f101";
} /* '' */
.icon-angle-double-up:before {
  content: "\f102";
} /* '' */
.icon-angle-double-down:before {
  content: "\f103";
} /* '' */
.icon-laptop:before {
  content: "\f109";
} /* '' */
.icon-github:before {
  content: "\f113";
} /* '' */
.icon-code:before {
  content: "\f121";
} /* '' */
.icon-apple:before {
  content: "\f179";
} /* '' */
.icon-windows:before {
  content: "\f17a";
} /* '' */
.icon-gwallet:before {
  content: "\f1ee";
} /* '' */
.icon-win8:before {
  content: "\f325";
} /* '' */
.fontello::before {
  display: indline-block;
}

.icon-heart-filled::before {
  content: "\e852";
}

.icon-heart-filled {
  color: rgb(247, 192, 192);
}

.icon-heart-empty::before {
  content: "\e853";
}

.icon-star::before {
  color: rgb(255, 251, 0);
}

.icon-cancel-1 {
  font-size: 0.7em;
}

ul.tree li.folder a {
  background: #5b23f4;
  color: #6a71d6;
  text-decoration: none;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 7px;
  font-size: 0.9em;
}
ul.tree li.folder a .count {
  font-style: italic;
  color: rgb(81, 140, 160);
}
ul.tree li.folder a .folder_size {
  color: rgb(155, 128, 80);
}
ul.tree li.folder a .meta .node_name {
  font-size: 1.3em;
  color: yellow;
  text-transform: uppercase;
  letter-spacing: 1px;
}
ul.tree li.folder a:hover {
  background: rgb(192, 243, 192);
  color: #111;
}
ul.tree li.folder a:hover .meta .node_name {
  color: rgb(19, 19, 226);
}
ul.tree li.folder a:hover .count {
  color: rgb(247, 58, 0);
}
ul.tree li.folder a:hover .folder_size {
  color: rgb(159, 82, 247);
}

details {
  font-size: 0.9em;
  color: #aaa;
}
details .node_name {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
details .icon-left-open {
  color: rgb(230, 255, 8);
}
details ul.tree li.folder a {
  background: #c3f1c1;
}
details ul.tree li.folder a .meta .node_name {
  color: rgb(197, 26, 197);
}
details summary {
  background: rgb(15, 21, 108);
  padding: 5px 12px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
details summary:hover {
  background: rgb(255, 236, 160);
  color: rgb(43, 43, 26);
  cursor: pointer;
}
details summary:hover .icon-pencil {
  color: rgb(159, 157, 241);
}
details summary:hover .icon-pencil:hover {
  color: rgb(36, 41, 35);
}
details summary:hover:active {
  cursor: pointer;
}
details summary:hover .folder_size {
  color: rgb(111, 44, 236);
}
details summary:hover .count {
  color: #f82ba6;
}
details summary .count {
  color: #da7c7c;
}
details summary .folder_size {
  color: rgb(120, 132, 197);
}
details:hover summary .node_name {
  color: rgb(10, 10, 7);
}
details:hover .icon-left-open {
  color: rgb(230, 255, 8);
}

details[open] ul.tree {
  background: #f8f8f8;
  padding: 5px 0;
  border-radius: 0 0 10px 10px;
}

details[open] > summary {
  background: rgb(204, 207, 248);
}
details[open] > summary .node_name {
  color: rgb(14, 49, 20);
}
details[open] > summary .icon-down-open {
  color: rgb(230, 255, 8);
  text-shadow: 1px 0 10px rgb(31, 7, 7);
}
details[open] > summary:hover {
  cursor: pointer;
}
details[open] > summary:hover:active {
  cursor: pointer;
}
details[open] > summary:hover {
  background: rgb(255, 236, 162);
  color: rgb(10, 10, 7);
}
details[open] > summary:hover .icon-down-open {
  color: rgb(230, 255, 8);
}
details[open] > summary:hover .folder_size {
  color: rgb(39, 35, 27);
}
details[open] > summary:hover .count {
  color: #1b1017;
}

.media-item {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 10px;
}
.media-item video {
  width: 100%;
  margin: 10px;
}
.media-item a img {
  width: 300px;
  margin-right: 10px;
  display: block;
}
.media-item .caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.media-item .caption .size {
  margin-left: 5px;
  color: #eee;
  font-weight: bold;
}
.media-item .caption .file_name {
  width: 50%;
  color: #eee;
}
.media-item .caption .actions {
  display: flex;
}
.media-item .caption .actions .download_btn {
  font-size: 20px;
  color: #eee;
}
.media-item .caption .actions .download_btn:hover {
  color: lightgreen;
}
.media-item .caption .actions button {
  border: none;
  background: none;
  padding: 0;
  font-size: 20px;
  color: #eee;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-item .caption .actions button:hover {
  color: lightcoral;
  cursor: pointer;
}
.media-item .rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
.media-item .rating .star {
  font-size: 18px;
  color: #eee;
}
.media-item .rating .star .icon-star {
  color: #eee;
}
.media-item.image .caption {
  width: 300px;
}
.media-item.video .caption {
  width: 600px;
}
.media-item:hover {
  border-color: #f8f8f8;
}
.media-item:hover .file_name,
.media-item:hover .rating {
  color: #111;
}
.media-item:hover .size {
  color: #111;
  text-shadow: 1px 0 10px lightblue;
}
.media-item:hover .type {
  color: #111;
  text-shadow: 1px 0 10px orangered;
}
.media-item:hover .actions .download_btn {
  color: #111;
}
.media-item:hover .actions button.fav-btn {
  color: #111;
}
.media-item:hover .actions button.fav-btn:hover {
  background: rgb(255, 221, 127);
  color: red;
}
.media-item:hover .actions button.clear-rating {
  color: #111;
}
.media-item:hover .actions button.clear-rating:hover {
  background: rgb(177, 226, 255);
  color: rgb(255, 251, 3);
}
.media-item:hover .actions button.rename-btn {
  color: #111;
}
.media-item:hover .actions button.rename-btn:hover {
  background: rgb(255, 221, 127);
  color: rgb(9, 255, 0);
}
.media-item:hover .actions button.delete-btn {
  color: #111;
}
.media-item:hover .actions button.delete-btn:hover {
  background: rgb(190, 179, 255);
  color: red;
}
.media-item:hover .rating .icon-empty-star {
  color: #111;
}
.media-item:hover .rating .icon-empty-star:hover {
  color: lightcoral;
}
.media-item:hover .rating .icon-star {
  color: lightcoral;
}

#book_container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#book_container .media-item {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 10px;
  width: 800px;
}
#book_container .media-item a img {
  width: 300px;
  margin-right: 10px;
  display: block;
}
#book_container .media-item .file_name {
  width: 95%;
  font-size: 16px;
  color: #222;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 10px 20px;
}
#book_container .media-item .caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#book_container .media-item .caption .meta {
  color: #555;
}
#book_container .media-item .caption .meta .type {
  font-size: 1em;
  margin: 0 5px;
  text-shadow: 1px 0 10px blue;
}
#book_container .media-item .caption .meta .size {
  font-size: 1em;
  margin: 0 5px;
  text-shadow: 1px 0 10px yellow;
  color: #555;
}
#book_container .media-item .caption .actions {
  display: flex;
}
#book_container .media-item .caption .actions .download_btn {
  background: #f8f8f8;
  text-decoration: none;
  color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
}
#book_container .media-item .caption .actions .download_btn i:before {
  margin-right: 5px;
}
#book_container .media-item .caption .actions .download_btn:hover {
  background: darkorange;
  color: #fff;
  text-shadow: 1px 0 10px rgb(126, 31, 31);
}
#book_container .media-item .caption .actions button {
  border: none;
  background: none;
  padding: 2px 8px;
  font-size: 20px;
  color: #eee;
}
#book_container .media-item .caption .actions button:hover {
  color: lightcoral;
  cursor: pointer;
}
#book_container .media-item .rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
#book_container .media-item .rating .star {
  font-size: 18px;
  color: #eee;
}
#book_container .media-item .rating .star .icon-star {
  color: #eee;
}
#book_container .media-item:hover {
  border-color: #eee;
  background: #f8f8f8;
}
#book_container .media-item:hover .file_name {
  background: rgb(230, 249, 255);
}
#book_container .media-item:hover .meta {
  color: #111;
}
#book_container .media-item:hover .meta .size {
  color: #111;
}
#book_container .media-item:hover .actions .download_btn {
  color: #111;
  background: #ccc;
}
#book_container .media-item:hover .actions button.fav-btn {
  color: #111;
}
#book_container .media-item:hover .actions button.fav-btn:hover {
  background: rgb(255, 221, 127);
  color: red;
}
#book_container .media-item:hover .actions button.clear-rating {
  color: #111;
}
#book_container .media-item:hover .actions button.clear-rating:hover {
  background: rgb(177, 226, 255);
  color: rgb(255, 251, 3);
}
#book_container .media-item:hover .actions button.rename-btn {
  color: #111;
}
#book_container .media-item:hover .actions button.rename-btn:hover {
  background: rgb(255, 221, 127);
  color: rgb(9, 255, 0);
}
#book_container .media-item:hover .actions button.delete-btn {
  color: #111;
}
#book_container .media-item:hover .actions button.delete-btn:hover {
  background: rgb(190, 179, 255);
  color: red;
}
#book_container .media-item:hover .rating .icon-empty-star {
  color: #111;
}
#book_container .media-item:hover .rating .icon-empty-star:hover {
  color: lightcoral;
}
#book_container .media-item:hover .rating .icon-star {
  color: lightcoral;
}

nav#main .show_favorites a {
  background: #eee;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 6px;
  text-decoration: none;
}
nav#main .show_favorites a:hover {
  background: rgb(255, 227, 174);
  color: #111;
}
nav#main .show_favorites a:hover .fontello {
  color: orangered;
}
nav#main .show_favorites a .fontello {
  color: rgb(255, 222, 160);
}
nav#main .links_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav#main .links_wrapper a {
  background: #eee;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 8px;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav#main .links_wrapper a.mac {
  color: rgb(11, 114, 66);
}
nav#main .links_wrapper a.mac:hover {
  background: rgb(216, 255, 213);
  color: rgb(17, 53, 25);
}
nav#main .links_wrapper a i {
  font-size: 12px;
  color: #bbb;
}
nav#main .links_wrapper a i:before {
  margin-left: 5px;
}
nav#main .links_wrapper a:hover {
  background: rgb(214, 240, 252);
  color: blue;
}
nav#main .upload_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

main#index .fav-btn {
  background: none;
}
main#index .fav-btn .fontello:hover {
  color: orange;
}
main#index .fav-btn:hover {
  color: yellow;
  background: none;
}
main#index .fav-btn:hover .fontello {
  color: yellow;
}
main#index button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 25px;
  color: #eee;
  background: #f9f9f9;
  padding: 2px 8px;
}
main#index button:hover {
  color: #222;
  text-shadow: 1px 0 10px darkorange;
  background: rgb(255, 219, 153);
}
main#index button:hover .fontello {
  color: #222;
}
main#index details summary button {
  background: rgb(70, 71, 87);
  padding: 2px 8px;
}
main#index details summary button:hover {
  background: yellow;
}
main#index details summary:hover {
  cursor: n-resize;
}
main#index details[open] summary button {
  background: #eee;
  color: #ddd;
  padding: 2px 8px;
}
main#index details[open] summary button:hover {
  color: blue;
}
main#index details[open] summary button .fav-btn .fontello {
  color: #f9f9f9;
}
main#index details[open] summary:hover button:hover {
  background: rgb(238, 162, 134);
}
main#index details[open] button {
  color: #ddd;
  background: #eee;
  padding: 2px 8px;
}
main#index details[open] button.fav-btn {
  background: none;
}
main#index details[open] button.fav-btn:hover {
  color: #aaa;
  background: none;
}
main#index details[open] button:hover {
  background: rgb(255, 228, 179);
}
main#index details[open] ul.tree li.folder a {
  background: #5b23f4;
}
main#index details[open] ul.tree li.folder a .node_name {
  color: rgb(255, 215, 0);
}
main#index details[open] ul.tree li.folder a:hover {
  background: rgb(192, 243, 192);
}
main#index details[open] ul.tree li.folder a:hover .node_name {
  color: darkblue;
}

nav#content_bar {
  display: flex;
  justify-content: center;
}
nav#content_bar button,
nav#content_bar .button {
  background: none;
  cursor: pointer;
  font-size: 15px;
  color: #bbb;
  background: #eee;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
nav#content_bar button:hover,
nav#content_bar .button:hover {
  color: #111;
  text-shadow: 1px 0 10px darkorange;
  background: rgb(255, 219, 153);
}
nav#content_bar button:hover .fontello,
nav#content_bar .button:hover .fontello {
  color: #222;
}
nav#content_bar .inner {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav#content_bar ul li {
  font-size: 18px;
}
nav#content_bar ul li a {
  text-decoration: none;
  color: orangered;
}
nav#content_bar ul li a:hover {
  color: orange;
  text-shadow: 1px 0 10px yellow;
}
nav#content_bar .favorites_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav#content_bar .favorites_wrapper .upload_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

:root {
  --bg: #111;
  --panel: #1b1b1b;
  --text: #eee;
  --accent: #4da3ff;
}

#index nav#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#index nav#main .inner {
  width: 800px;
}

#folderDropZone {
  border: 2px dashed #aaa;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.1s, border-color 0.2s;
  width: 85%;
  max-width: 500px;
  height: 50px;
}
#folderDropZone button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#folderDropZone:hover {
  background: rgba(54, 255, 64, 0.25);
  border-color: #41ff7a;
}
#folderDropZone.drag-over {
  background: rgba(255, 255, 255, 0.1);
  border-color: #4af;
  color: #4af;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

button {
  border-radius: 10px;
}
button.active {
  background: var(--accent);
}

#dropZone {
  border: 2px dashed #eee;
  border-radius: 6px;
  color: #ddd;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.1s, border-color 0.2s;
}
#dropZone:hover {
  background: rgba(54, 255, 64, 0.25);
  border-color: #41ff7a;
  color: #222;
}
#dropZone.drag-over {
  background: rgba(255, 255, 255, 0.1);
  border-color: #4af;
  color: #4af;
}

#bottom_linkz {
  text-align: center;
}
#bottom_linkz a {
  text-decoration: none;
  background: #eee;
  border: 1px solid #111;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 7px;
  color: #111;
  font-size: 15px;
}
#bottom_linkz a:hover {
  background: lightgreen;
  color: #111;
}
#bottom_linkz .pc {
  margin-bottom: 20px;
}

h1#app_name {
  text-align: center;
}
h1#app_name a {
  color: #ff8888;
  font-size: 1.5em;
  text-decoration: none;
}
h1#app_name a:hover {
  color: rgb(245, 59, 59);
}

ul.tree {
  list-style-type: none;
  padding-left: 0;
}
ul.tree li.folder {
  font-size: 18px;
  margin: 20px;
  width: 620px;
}

main#index {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  max-width: 1000px;
}
main#index .card_wrapper {
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main#index .card_wrapper .card {
  width: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
main#index .card_wrapper .card a {
  text-decoration: none;
  font-size: 28px;
}
main#index .card_wrapper .card a:hover {
  text-decoration: underline;
}

#index_container {
  justify-content: center;
}

.container {
  display: flex;
}
.container main {
  width: 100%;
}
.container main .media_container_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
.container main .image_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 980px;
}
.container main .video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .container main .image_container {
    justify-content: center;
  }
  .media-item.video .caption {
    width: 100%;
    max-width: 920px;
  }
  .media-item.video .caption .actions button {
    font-size: 24px;
  }
  .media-item.image {
    margin-bottom: 40px;
  }
  .media-item.image .caption {
    max-width: 920px;
    width: 100%;
  }
  .media-item.image .caption .actions button {
    font-size: 24px;
  }
  .container main .media-item a img {
    width: 100%;
    max-width: 920px;
  }
}
@media screen and (max-width: 500px) {
  nav#main .links_wrapper {
    flex-wrap: wrap;
  }
  #book_container .media-item {
    width: 400px;
  }
  .media-item video {
    width: 100%;
    margin: 10px;
  }
  #book_container .media-item .file_name {
    width: 90%;
  }
  #index nav#main .inner {
    width: 100%;
  }
  #index nav#main #folderDropZone {
    display: none;
  }
  ul.tree li.folder {
    font-size: 15px;
    margin: 20px;
    width: 380px;
  }
  .container main nav#content_bar {
    flex-direction: column;
    width: 100%;
  }
  .container main nav#content_bar .favorites_wrapper {
    margin-right: 0;
  }
  .container main nav#content_bar a.home_button {
    display: none;
  }
  .container main .image_container {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  nav#content_bar .inner {
    width: 100%;
    flex-direction: column;
  }
  nav#content_bar .inner .favorites_wrapper {
    display: column;
  }
  nav#content_bar .inner #dropZone {
    display: none;
  }
  .container main .media-item a img {
    width: 410px;
  }
  .media-item.image .caption {
    max-width: 420px;
    width: 100%;
  }
  .media-item.image .caption .actions button {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
