/*sass static/scss/main.scss static/css/styles.css --watch */
:root {
  --bg: #111;
  --panel: #1b1b1b;
  --text: #eee;
  --accent: #4da3ff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

button {
  border-radius: 10px;
  transition: 0.2s ease;
}
button.active {
  background: var(--accent);
}
button.fav-btn {
  border: none;
  background: none;
  color: #aaa;
  text-shadow: 1px 0 1px black;
  font-size: 32px;
  margin-top: -10px;
}
button.fav-btn:hover {
  color: orange;
  cursor: pointer;
}

#bottom_linkz {
  text-align: center;
}
#bottom_linkz a {
  text-decoration: none;
  background: #aaa;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 7px;
  color: #111;
  font-size: 18px;
}
#bottom_linkz a:hover {
  background: lightgreen;
  color: #111;
}
#bottom_linkz .pc {
  margin-bottom: 20px;
}

#index_tree_wrapper ul.tree {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
#index_tree_wrapper ul.tree li {
  font-size: 18px;
  margin-right: 5px;
}
#index_tree_wrapper ul.tree li a {
  text-decoration: none;
  background: #111;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border-radius: 7px;
  color: lightgreen;
  text-shadow: 1px 0 10px yellow;
}
#index_tree_wrapper ul.tree li a:hover {
  background: lightgreen;
  color: #111;
}
#index_tree_wrapper ul.tree li a:hover .count {
  color: darkblue;
}
#index_tree_wrapper ul.tree li a:hover .folder_size {
  color: rgb(75, 52, 11);
}
#index_tree_wrapper ul.tree li a .count {
  font-style: italic;
  color: lightblue;
}
#index_tree_wrapper ul.tree li a .folder_size {
  color: rgb(223, 176, 90);
}

main#index {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-top: 100px;
  max-width: 1000px;
}
main#index .card_wrapper {
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main#index .card_wrapper .card {
  width: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
main#index .card_wrapper .card a {
  text-decoration: none;
  font-size: 28px;
}
main#index .card_wrapper .card a:hover {
  text-decoration: underline;
}

#index_container {
  justify-content: center;
}

.container {
  display: flex;
  min-height: 80vh;
}
.container main {
  width: 100%;
}
.container main nav#content_bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.container main nav#content_bar .favorites_wrapper {
  margin-right: 100px;
  display: flex;
  align-items: center;
}
.container main nav#content_bar .favorites_wrapper div {
  margin-right: 20px;
  display: inline-block;
}
.container main .image_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container main .media-item video {
  width: 600px;
  margin: 10px;
}
.container main .media-item a img {
  width: 300px;
  margin-right: 10px;
  display: block;
}
.container main .media-item .caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}
.container aside#sidebar {
  flex-shrink: 0;
  background-color: lightcyan;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
}
.container aside#sidebar #toggle-aside {
  width: 100%;
  border: none;
  background: lightcoral;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}
.container aside#sidebar.collapsed {
  width: 48px;
}
.container aside#sidebar.collapsed ul, .container aside#sidebar.collapsed .card_wrapper {
  display: none;
  width: 0;
}
.container aside#sidebar a {
  text-decoration: none;
}
.container aside#sidebar ul.tree {
  font-size: 15px;
  list-style-type: none;
  padding-left: 12px;
}
.container aside#sidebar ul.tree summary {
  padding: 5px 0;
}
.container aside#sidebar ul.tree summary:hover {
  background: lightgoldenrodyellow;
  cursor: pointer;
}
.container aside#sidebar ul.tree li.folder {
  padding: 5px 0;
}
.container aside#sidebar ul.tree li.folder .count {
  color: darkblue;
  font-style: italic;
  font-size: 13px;
}
.container aside#sidebar ul.tree li.folder a {
  color: purple;
  padding: 5px 0;
}
.container aside#sidebar ul.tree li.folder a:hover {
  background-color: orange;
  color: #eee;
  text-shadow: 1px 0 1px yellow;
}
.container aside#sidebar .card_wrapper {
  font-size: 16px;
  text-align: center;
}
.container aside#sidebar .card_wrapper .card {
  margin: 10px 0;
}

/*sass static/scss/main.scss static/css/styles.css --watch */

/*# sourceMappingURL=styles.css.map */
