#book_container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .media-item {
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 10px;
        width: 800px;

        a {
            img {
                width: 300px;
                margin-right: 10px;
                display: block;
            }
        }

        .file_name {
            width: 95%;
            font-size: 16px;
            color: #222;
            background: #f8f8f8;
            border-radius: 10px;
            padding: 10px 20px;

        }

        .caption {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;


            .meta {

                color: #555;

                .type {
                    font-size: 1em;
                    margin: 0 5px;
                    text-shadow: 1px 0 10px blue;
                   
                }

                .size {
                    font-size: 1em;
                    margin: 0 5px;
                    text-shadow: 1px 0 10px yellow;
                     color:#555;

                }
            }


            .actions {
                display: flex;

                .download_btn {
                    background: #f8f8f8;
                    text-decoration: none;
                    color: #ddd;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 13px;

                    i:before {
                        margin-right: 5px;
                    }

                    &:hover {
                        background: darkorange;
                        color: #fff;
                        text-shadow: 1px 0 10px rgb(126, 31, 31);
                    }
                }

                button {
                    border: none;
                    background: none;
                    padding: 2px 8px;
                    font-size: 20px;
                    color: #eee;

                    &:hover {
                        color: lightcoral;
                        cursor: pointer;
                    }
                }
            }
        }

        .rating {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 10px 0;

            .star {
                font-size: 18px;
                color: #eee;

                .icon-star {
                    color: #eee;
                }
            }
        }



    }

    .media-item:hover {
        border-color: #eee;
        background: #f8f8f8;

        .file_name {
            background: rgb(230, 249, 255);
        }

        .meta {
            color: #111;
            .size { color: #111; }
        }

        .actions {
            .download_btn {
                color: #111;
                background: #ccc;
            }

            button.fav-btn {
                color: #111;

                &:hover {
                    background: rgb(255, 221, 127);
                    color: red;
                }
            }

            button.clear-rating {
                color: #111;

                &:hover {
                    background: rgb(177, 226, 255);
                    color: rgb(255, 251, 3);
                }
            }

            button.rename-btn {
                color: #111;

                &:hover {
                    background: rgb(255, 221, 127);
                    color: rgb(9, 255, 0);
                }
            }

            button.delete-btn {
                color: #111;

                &:hover {
                    background: rgb(190, 179, 255);
                    color: red;
                }
            }
        }

        .rating {
            .icon-empty-star {
                color: #111;

                &:hover {
                    color: lightcoral;
                }
            }

            .icon-star {
                color: lightcoral;
            }
        }
    }
}