@font-face {
      font-family: 'fontello';
      src: url('./fontface/800.eot?16074009');
      src: url('./fontface/800.eot?16074009#iefix') format('embedded-opentype'),
           url('./fontface/800.woff?16074009') format('woff'),
           url('./fontface/800.ttf?16074009') format('truetype'),
           url('./fontface/800.svg?16074009#play') format('svg');
      font-weight: normal;
      font-style: normal;
    }
  .fontello {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;

    text-align: center;
    /* opacity: .8; */
    
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
    
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }


.icon-empty-star:before { content: '\e800'; } /* '' */
.icon-trashcan:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-floppy:before { content: '\e804'; } /* '' */
.icon-retweet:before { content: '\e805'; } /* '' */
.icon-trash-2:before { content: '\e806'; } /* '' */
.icon-home-1:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-headphones-1:before { content: '\e80a'; } /* '' */
.icon-attach:before { content: '\e80b'; } /* '' */
.icon-keyboard:before { content: '\e80c'; } /* '' */
.icon-brush:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-up-hand:before { content: '\e80f'; } /* '' */
.icon-left-hand:before { content: '\e810'; } /* '' */
.icon-forward:before { content: '\e811'; } /* '' */
.icon-tools:before { content: '\e812'; } /* '' */
.icon-right-hand:before { content: '\e813'; } /* '' */
.icon-down-hand:before { content: '\e814'; } /* '' */
.icon-arrows-cw:before { content: '\e815'; } /* '' */
.icon-cancel-1:before { content: '\e816'; } /* '' */
.icon-th-list:before { content: '\e817'; } /* '' */
.icon-th-large:before { content: '\e818'; } /* '' */
.icon-star-1:before { content: '\e819'; } /* '' */
.icon-buffer:before { content: '\e81a'; } /* '' */
.icon-pinboard:before { content: '\e81b'; } /* '' */
.icon-download:before { content: '\e81c'; } /* '' */
.icon-upload:before { content: '\e81d'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */
.icon-down-open:before { content: '\e825'; } /* '' */
.icon-right-open:before { content: '\e826'; } /* '' */
.icon-left-open:before { content: '\e827'; } /* '' */
.icon-up-open:before { content: '\e82a'; } /* '' */
.icon-tag:before { content: '\e82d'; } /* '' */
.icon-tags:before { content: '\e82e'; } /* '' */
.icon-tag-1:before { content: '\e82f'; } /* '' */
.icon-tags-1:before { content: '\e830'; } /* '' */
.icon-bookmark:before { content: '\e834'; } /* '' */
.icon-feather:before { content: '\e835'; } /* '' */
.icon-pencil:before { content: '\e836'; } /* '' */
.icon-bookmarks:before { content: '\e837'; } /* '' */
.icon-book-1:before { content: '\e838'; } /* '' */
.icon-video:before { content: '\e839'; } /* '' */
.icon-video-2:before { content: '\e83b'; } /* '' */
.icon-pin-1:before { content: '\e83d'; } /* '' */
.icon-brush-1:before { content: '\e841'; } /* '' */
.icon-layers:before { content: '\e842'; } /* '' */
.icon-layers-alt:before { content: '\e843'; } /* '' */
.icon-heart-filled:before { content: '\e852'; } /* '' */
.icon-heart-1:before { content: '\e853'; } /* '' */
.icon-magnet:before { content: '\e856'; } /* '' */
.icon-chart:before { content: '\e858'; } /* '' */
.icon-pitch:before { content: '\e859'; } /* '' */
.icon-infinity:before { content: '\e85a'; } /* '' */
.icon-pi:before { content: '\e85c'; } /* '' */
.icon-glass:before { content: '\e864'; } /* '' */
.icon-music:before { content: '\e865'; } /* '' */
.icon-waves:before { content: '\e86d'; } /* '' */
.icon-link-1:before { content: '\f07b'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-gwallet:before { content: '\f1ee'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */

  .fontello::before {
  display: indline-block;
}


.icon-heart-filled::before {
  content: '\e852';
}

.icon-heart-empty::before {
  content: '\e853';
}

.icon-star::before { 
  color: rgb(255, 251, 0);
}

.icon-cancel-1 {
font-size:.7em;
}