/*sass static/scss/main.scss static/css/styles.css --watch */
@use 'fontface';
@use 'details';
@use 'media-item';
@use 'book_container';
@use 'buttons';
@use 'nav_bar';

$radius: 10px;
$transition: 0.2s ease;

// https://fsymbols.com/signs/arrow/

:root {
    --bg: #111;
    --panel: #1b1b1b;
    --text: #eee;
    --accent: #4da3ff;
}

#index {
    nav#main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .inner {
            width: 800px;
        }
    }
}

#folderDropZone {
    border: 2px dashed #aaa;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.1s, border-color 0.2s;
    width: 85%;
    max-width: 500px;
    height: 50px;

    button {
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;

    }

    &:hover {
        background: rgba(54, 255, 64, 0.25);
        border-color: #41ff7a;
    }

    &.drag-over {
        background: rgba(255, 255, 255, 0.1);
        border-color: #4af;
        color: #4af;
    }
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

button {
    border-radius: $radius;

    &.active {
        background: var(--accent);
    }
}


#dropZone {
    border: 2px dashed #eee;
    border-radius: 6px;
    color:#ddd;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.1s, border-color 0.2s;

    &:hover {
        background: rgba(54, 255, 64, 0.25);
        border-color: #41ff7a;
        color:#222;
    }

    &.drag-over {
        background: rgba(255, 255, 255, 0.1);
        border-color: #4af;
        color: #4af;
    }
}


#bottom_linkz {
    text-align: center;

    a {
        text-decoration: none;
        background: #eee;
        border: 1px solid #111;
        padding: 8px 16px;
        margin: 4px 0;
        display: inline-block;
        border-radius: 7px;
        color: #111;
        font-size: 15px;
    }

    a:hover {
        background: lightgreen;
        color: #111;
    }

    .pc {
        margin-bottom: 20px;
    }
}

h1#app_name {

    text-align: center;

    a {
        color: #ff8888;
        font-size: 1.5em;
        text-decoration: none;

        &:hover {
            color: rgb(245, 59, 59);
        }
    }
}

ul.tree {
    list-style-type: none;
    padding-left: 0;

    li.folder {
        font-size: 18px;
        margin: 20px;
        width: 620px;

    }
}

main#index {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    max-width: 1000px;

    .card_wrapper {
        width: 400px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card {
            width: 400px;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            a {
                text-decoration: none;
                font-size: 28px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#index_container {
    justify-content: center;
}

.container {
    display: flex;

    main {
        width: 100%;

        .image_container_wrapper {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .image_container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 980px;
        }
    }
}


@media screen and (max-width:1024px) {
    .container main .image_container {
        justify-content: center;
    }


    .media-item.video {
        .caption {
            width: 100%;
            max-width: 920px;

            .actions button {
                font-size: 24px;
            }
        }
    }

    .media-item.image {
        margin-bottom: 40px;

        .caption {
            max-width: 920px;
            width: 100%;

            .actions button {
                font-size: 24px;
            }
        }
    }

    .container main .media-item a {
        img {
            width: 100%;
            max-width: 920px;
        }
    }
}

@media screen and (max-width:500px) {


    #book_container .media-item {
        width: 400px;
    }

    .media-item video {
        width: 420px;
        margin: 10px;
    }

    #book_container .media-item .file_name {
        width: 90%;
    }

    #index nav#main {
        .inner {
            width: 460px;
        }

        #folderDropZone {
            display: none;
        }
    }

    ul.tree {
        li.folder {
            font-size: 15px;
            margin: 20px;
            width: 380px;
        }
    }

    .container main nav#content_bar {
        flex-direction: column;
        width: 100%;

        .favorites_wrapper {
            margin-right: 0;
        }

        a.home_button {
            display: none;
        }
    }

    .container main .image_container {
        justify-content: center;
    }

    .container main .media-item a {
        img {
            width: 410px;
        }
    }

    .media-item {
        &.image {
            .caption {
                max-width: 420px;
                width: 100%;

                .actions button {
                    font-size: 16px;
                }
            }
        }
    }
}