/*sass static/scss/main.scss static/css/styles.css --watch */


$radius: 10px;
$transition: 0.2s ease;

:root {
  --bg: #111;
  --panel: #1b1b1b;
  --text: #eee;
  --accent: #4da3ff;
}


body { 
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

button {
    border-radius: $radius;
    transition: $transition;

    &.active {
        background: var(--accent);
    }

    &.fav-btn { 
      border:none;
      background:none;
      color:#aaa;
      text-shadow:1px 0 1px black;
      font-size:32px;
      margin-top:-10px;
    }
    &.fav-btn:hover { 
        color:orange;
        cursor:pointer;
    }
}



#bottom_linkz { 
text-align:center;
    a { 
           text-decoration: none;
                background: #aaa;
                padding: 8px 16px;
                margin: 4px 0;
                display: inline-block;
                border-radius: 7px;
                color: #111;
                font-size:18px;
    }
    a:hover { 
        background:lightgreen;
                    color:#111;
    }
    .pc { 
    margin-bottom:20px; }
}




#index_tree_wrapper { 
    ul.tree { 
        display:flex;
        flex-wrap:wrap;
        list-style-type:none;
        li { 
            font-size:18px;
            margin-right:5px;
            a { 
                text-decoration: none;
                background: #111;
                padding: 8px 16px;
                margin: 4px 0;
                display: inline-block;
                border-radius: 7px;
                color: lightgreen;
                text-shadow: 1px 0 10px yellow;
                &:hover { 
                    background:lightgreen;
                    color:#111;
                    .count {
                        color:darkblue; 

                    }
                    .folder_size {
                        color: rgb(75, 52, 11);
                    }
                }
                .count {
                font-style:italic;
                color:lightblue; 
                }
                .folder_size {
                    color: rgb(223, 176, 90);
                }
            }
            
        }
    }
}

main#index { 
    display:flex;
    justify-content:center;
    align-items:center;
    align-items:center;
    margin-top:100px;
    max-width:1000px;
    .card_wrapper { 
        width:400px;
        padding:40px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        .card { 
            width:400px;
            display:flex;
            justify-content:center;
            margin-bottom:10px;
            a{
                text-decoration:none;
                font-size:28px;
                &:hover { 
                    text-decoration:underline;
                }
            }
        }
    }
}

#index_container { justify-content:center;} 

.container { 
    display: flex;
    min-height:80vh;
        main { 
            width:100%;
            nav#content_bar { 
                display:flex;
                justify-content:space-between;
                width:80%;
                .favorites_wrapper { 
                    margin-right:100px;
                    display:flex;
                    align-items:center;
                    div { 
                        margin-right:20px;
                        display:inline-block;
                    }
                }
            }
            .image_container { 
                display:flex;
                justify-content:flex-start;
                flex-wrap:wrap;
            }
            
            .media-item 
            {   
                video { 
                    width:600px;
                    margin:10px;
                }
                a {
                    img { 
                        width:300px;
                        margin-right:10px;
                        display:block;
                    }
                }
                .caption { 
                    display:flex;
                    align-items:center;
                    justify-content:space-between;
                    max-width:300px;
                }
            }
        }
        aside#sidebar { 
            flex-shrink: 0;
            background-color: lightcyan;
            //transition: width 0.25s ease;
            overflow: hidden;
            position:absolute;
            top:10px;
            right:10px;

            #toggle-aside {
                width: 100%;
                border: none;
                background: lightcoral;
                color: #fff;
                padding: 8px;
                cursor: pointer;
            }

            &.collapsed {
                width: 48px; // collapsed width
            }

            &.collapsed ul,
            &.collapsed .card_wrapper {
                display: none;
                width:0;
            }
            a { 
                text-decoration: none;
            }
            ul.tree { 
                font-size:15px;
                list-style-type: none;
                padding-left:12px;

                summary{
                    padding:5px 0;
                    &:hover {
                    background:lightgoldenrodyellow;
                    cursor:pointer;
                }}

                li.folder {
                    padding:5px 0;
                    .count {     
                        color:darkblue;
                        font-style:italic;
                        font-size:13px;
                    }
                    a {
                        color: purple;
                        padding:5px 0;
                        &:hover {
                            background-color:orange;
                            color:#eee;
                            text-shadow:1px 0 1px yellow;
                        }
                    }
                }
            }
            .card_wrapper { 
                font-size:16px;
                text-align:center;
                .card { margin:10px 0;}
            }
        }
}


/*sass static/scss/main.scss static/css/styles.css --watch */